body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    text-align: center;
}

table {
    margin: auto;
    border-collapse: collapse;
    width: 70%;
    background-color: #fff;
}

table, th, td {
    border: 1px solid #ccc;
    padding: 10px;
}

th {
    background-color: #4CAF50;
    color: white;
}
